html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
}

.input-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
}

.search-input {
  display: flex;
  z-index: 1;
}

.search-button {
  z-index: 1;
}

